// .overall{
//     border: 5px solid#000000;
//     border-radius: 5px;
//     background-color: #051b2d;
//     padding: 20px;
//     margin: 26%;
//     margin-top: 4%;
//     color: #0a0321;
//     font-weight: 700;
// }
// .formHead{
//   text-align:center;
//   font-weight: bold;
//   font-size: 21px;
//   color: aliceblue;
// }
// .name{
//   padding: 20px;
//   color: aliceblue;
//   }
//   .emails{
//     padding: 20px;
//     color: aliceblue;
//   }
//   .passwrd{
//     padding: 15px 5px 25px 0px;
//     color: aliceblue;
//   }
//   .loginForm{
//     text-align: center;
//     padding: 40px;
//   }
//   .button{
//     text-align: center;
//     border-radius: 6px;
//     background-color: #051b2d;
//     color: white;
//     width: 86px;
//     margin: auto;
//     border-color: azure;
//     cursor: pointer;
//   }
//   .btn-success:not(:disabled):not(.disabled):active{
//     color: #fff !important;
//     background-color: #051b2d !important;
//     border-color: #fff !important;
//     box-shadow: none !important;
//   }
.wrapper{
  text-align: center;
}
.button{
  position: absolute;
  top: 50%;
  left:45%;
}