<!-- <div class="overall">
  <h3 class="formHead">Login Here</h3>
  <div class="loginForm">
    <label class="name">Name:</label>
    <input class="" type="text" [(ngModel)]="username">
    <br />
    <label class="emails">Email:</label>
    <input class="" type="text" [(ngModel)]="emailval"><br />
    <label class="passwrd">Password:</label>
    <input class="" type="password" [(ngModel)]="password">
    <div class="button">
      <button type="button" (click)="login()" class="button btn-success">LOGIN</button>
    </div>
  </div>
</div> -->
<div class="wrapper">
<button (click)="loginGoogle()" class="button">Login With Google</button>
</div>